In [1]:
from pathlib import Path
import pandas as pd

BASE_DIR = Path().resolve().parent
pandas = BASE_DIR / "pandas_deep_dive"
csv1 = pandas / "survey_results_schema.csv"
csv2 = pandas / "survey_results_public.csv"

print(BASE_DIR, csv1.exists(), csv2.exists())

C:\Users\vipin\python_projects\data_analysis True True

In [9]:
# pd.set_option("display.max_columns", 70)
# pd.set_option("display.max_rows", 40)
df = pd.read_csv(csv1)
df.shape

# so if we look these dataframes are in the list of dictionary format, 
# you can see with the below example

people = {
    'name': ['vipin','varun','mahesh'],
    'age': [24,24,25]
    }
eg_df = pd.DataFrame(people)
eg_df

     name  age
0   vipin   24
1   varun   24
2  mahesh   25

In [10]:
df.columns

Index(['qid', 'qname', 'question', 'force_resp', 'type', 'selector'], dtype='object')

In [11]:
# To select the multiple columns
df[['question', 'type', 'selector']]

                                             question  type selector
0   <div><span style="font-size:19px;"><strong>Hel...    DB       TB
1                                   Browser Meta Info  Meta  Browser
2   <span style="font-size:22px; font-family: aria...    DB       TB
3   Which of the following options best describes ...    MC     SAVR
4   Which of the following best describes your cur...    MC     MAVR
..                                                ...   ...      ...
74  Interacting with people outside of your immedi...    MC     MAVR
75  Encountering knowledge silos (where one indivi...    MC     MAVR
76  Are you involved in supporting new hires durin...    MC     MAVR
77  Do you use learning resources provided by your...    MC     MAVR
78  Does your employer give you time to learn new ...    MC     MAVR

[79 rows x 3 columns]

In [12]:
# For selecting the rows we has two options iloc (integer) and loc
df.iloc[[0,1], 2] #here we are selcting first two rows to give the details of the 3rd column that is question

0    <div><span style="font-size:19px;"><strong>Hel...
1                                    Browser Meta Info
Name: question, dtype: object

In [13]:
# and if we want to achieve this using the loc than
df.loc[[0,1], ["question", "selector"]]

                                            question selector
0  <div><span style="font-size:19px;"><strong>Hel...       TB
1                                  Browser Meta Info  Browser

In [14]:
df2 = pd.read_csv(csv2)
df2.columns

Index(['ResponseId', 'MainBranch', 'Employment', 'RemoteWork',
       'CodingActivities', 'EdLevel', 'LearnCode', 'LearnCodeOnline',
       'LearnCodeCoursesCert', 'YearsCode', 'YearsCodePro', 'DevType',
       'OrgSize', 'PurchaseInfluence', 'BuyNewTool', 'Country', 'Currency',
       'CompTotal', 'CompFreq', 'LanguageHaveWorkedWith',
       'LanguageWantToWorkWith', 'DatabaseHaveWorkedWith',
       'DatabaseWantToWorkWith', 'PlatformHaveWorkedWith',
       'PlatformWantToWorkWith', 'WebframeHaveWorkedWith',
       'WebframeWantToWorkWith', 'MiscTechHaveWorkedWith',
       'MiscTechWantToWorkWith', 'ToolsTechHaveWorkedWith',
       'ToolsTechWantToWorkWith', 'NEWCollabToolsHaveWorkedWith',
       'NEWCollabToolsWantToWorkWith', 'OpSysProfessional use',
       'OpSysPersonal use', 'VersionControlSystem', 'VCInteraction',
       'VCHostingPersonal use', 'VCHostingProfessional use',
       'OfficeStackAsyncHaveWorkedWith', 'OfficeStackAsyncWantToWorkWith',
       'OfficeStackSyncHaveWorkedWith', 'OfficeStackSyncWantToWorkWith',
       'Blockchain', 'NEWSOSites', 'SOVisitFreq', 'SOAccount', 'SOPartFreq',
       'SOComm', 'Age', 'Gender', 'Trans', 'Sexuality', 'Ethnicity',
       'Accessibility', 'MentalHealth', 'TBranch', 'ICorPM', 'WorkExp',
       'Knowledge_1', 'Knowledge_2', 'Knowledge_3', 'Knowledge_4',
       'Knowledge_5', 'Knowledge_6', 'Knowledge_7', 'Frequency_1',
       'Frequency_2', 'Frequency_3', 'TimeSearching', 'TimeAnswering',
       'Onboarding', 'ProfessionalTech', 'TrueFalse_1', 'TrueFalse_2',
       'TrueFalse_3', 'SurveyLength', 'SurveyEase', 'ConvertedCompYearly'],
      dtype='object')

In [15]:
df2.loc[0:10, 'Employment':"EdLevel"]

,Employment,RemoteWork,CodingActivities,EdLevel
0,NaN,NaN,NaN,NaN
1,"Employed, full-time",Fully remote,Hobby;Contribute to open-source projects,NaN
2,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)"
3,"Employed, full-time",Fully remote,I donâ€™t code outside of work,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)"
4,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)"
5,"Student, full-time",NaN,NaN,"Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)"
6,"Student, part-time",NaN,NaN,"Secondary school (e.g. American high school, G..."
7,"Not employed, but looking for work",NaN,NaN,Some college/university study without earning ...
8,"Employed, full-time","Hybrid (some remote, some in-person)",I donâ€™t code outside of work,"Masterâ€™s degree (M.A., M.S., M.Eng., MBA, etc.)"
9,"Independent contractor, freelancer, or self-em...",Fully remote,Hobby;Contribute to open-source projects;Boots...,Some college/university study without earning ...
10,"Employed, full-time","Hybrid (some remote, some in-person)",I donâ€™t code outside of work,"Bachelorâ€™s degree (B.A., B.S., B.Eng., etc.)"

In [2]:
# Let's work with the indexes

people = {
    'name': ['vipin','varun','mahesh'],
    'age': [24,24,25],
    'email':['vipin@gmail.com', 'varun@gmail.com', 'mahesh@yahoo.com']
    }
eg_df = pd.DataFrame(people)
eg_df

     name  age             email
0   vipin   24   vipin@gmail.com
1   varun   24   varun@gmail.com
2  mahesh   25  mahesh@yahoo.com

In [31]:
# if we see above the indexes are 0,1 ,2 so we can update them and we will use the email as index as they are unique

eg_df.set_index("email",inplace=True)

KeyError: "None of ['email'] are in the columns"

In [28]:
eg_df.loc['varun@gmail.com', 'age']
# And if we willl try to use the integer index with loc than it will throw error, we can also reset index

eg_df.reset_index(inplace=True) #this will reset our index
eg_df

KeyError: 'varun@gmail.com'