In [1]:
import pathlib
import pandas as pd

BASE_DIR = pathlib.Path().resolve().parent
pandas = BASE_DIR / "pandas_deep_dive"
csv1 = pandas / "survey_results_schema.csv"
csv2 = pandas / "survey_results_public.csv"

print(BASE_DIR, csv1.exists(), csv2.exists())

C:\Users\vipin\python_projects\data_analysis True True

In [15]:
people = {
    "name":["vipin", "varun", "mashesh"],
    "age": [24, 24, 27],
    "email":["vipin@gmail.com", "varun@gmail.com", "mahesh@yahoo.com"]
}
eg_df = pd.DataFrame(people)
eg_df

      name  age             email
0    vipin   24   vipin@gmail.com
1    varun   24   varun@gmail.com
2  mashesh   27  mahesh@yahoo.com

In [16]:
# This is one of the way to make your all values inside a column upper case
eg_df['name'] = eg_df['name'].str.upper()

# we can also go with the list comprehension
eg_df.columns = [x.upper() for x in eg_df.columns]

In [18]:
# Converting back to the normal position
eg_df['NAME'] = eg_df["NAME"].str.lower()

In [20]:
# Replace some column names
eg_df.rename(columns={"NAME":"name", "EMAIL":"email"}, inplace=True)
# But if you want to rename all then

eg_df.columns = ["name", "age", "email"]

In [21]:
eg_df

      name  age             email
0    vipin   24   vipin@gmail.com
1    varun   24   varun@gmail.com
2  mashesh   27  mahesh@yahoo.com

In [30]:
eg_df.loc[2, ['name']] = "mahesh"
eg_df

     name  age             email
0   vipin   24   vipin@gmail.com
1   varun   24   varun@gmail.com
2  mahesh   27  mahesh@yahoo.com