In [1]:
import pathlib
import pandas as pd

BASE_DIR = pathlib.Path().resolve().parent
pandas = BASE_DIR / "pandas_deep_dive"
csv1 = pandas / "survey_results_schema.csv"
csv2 = pandas / "survey_results_public.csv"

print(BASE_DIR, csv1.exists(), csv2.exists())

C:\Users\vipin\python_projects\data_analysis True True

In [12]:
people = {
    "name":["vipin", "varun", "mashesh"],
    "age": [24, 24, 27],
    "email":["vipin@gmail.com", "varun@gmail.com", "mahesh@yahoo.com"]
}
eg_df = pd.DataFrame(people)
eg_df

      name  age             email
0    vipin   24   vipin@gmail.com
1    varun   24   varun@gmail.com
2  mashesh   27  mahesh@yahoo.com

In [3]:
# This is one of the way to make your all values inside a column upper case
eg_df['name'] = eg_df['name'].str.upper()

# we can also go with the list comprehension
eg_df.columns = [x.upper() for x in eg_df.columns]

In [4]:
# Converting back to the normal position
eg_df['NAME'] = eg_df["NAME"].str.lower()

In [5]:
# Replace some column names
eg_df.rename(columns={"NAME":"name", "EMAIL":"email"}, inplace=True)
# But if you want to rename all then

eg_df.columns = ["name", "age", "email"]

In [6]:
eg_df

      name  age             email
0    vipin   24   vipin@gmail.com
1    varun   24   varun@gmail.com
2  mashesh   27  mahesh@yahoo.com

In [10]:
eg_df.loc[2, ['name']] = "mahesh"
eg_df

     name  age             email
0   vipin   24   vipin@gmail.com
1   varun   24   varun@gmail.com
2  mahesh   27  mahesh@yahoo.com

In [14]:
# FOUR POPULAR METHODS
# APPLY, REPLACE, MAP, APPLY MAP: let's dicuss them one by one

#APPLY
It can work on a data frame or a series object.
(1) First we will see it with respect to series and in this case we apply a function to every value in the series
(2) When we run it on a dataframe it runs that function on each row and column of the dataframe

In [18]:
# Suppose we want to check the email of the person if it's length is above 15 we will say it is too long

def len_values(obj):
    if len(obj) > 15:
        return "Too long"
    else:
        return "Perfect"

eg_df['email'].apply(len_values)

0     Perfect
1     Perfect
2    Too long
Name: email, dtype: object

In [20]:
# The same thing we can do using the lambda function, basically the lambda functions are the unambiguos functions
eg_df['email'].apply(lambda x: "too long" if len(x)> 15 else "Perfect")

0     Perfect
1     Perfect
2    too long
Name: email, dtype: object

In [21]:
# Let's see on the dataframe
eg_df.apply(len)
# This basically says that give me the number of rows present in each coloumn

name     3
age      3
email    3
dtype: int64